# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
employees = pd.read_csv('Employees_advanced.csv')

Examine the `salaries` dataset using the `head` function below.

In [140]:
# Your code here:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Hourly
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0,Hourly
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [10]:
# Your code here:
print(employees.isnull().sum())
# it seems as if the hourly rate or the annual salary & typical hours 
# are given looking at the dataframe
# if you count one the annual salary column or the typical hours, and
# your sum this with the hourly rate column you get 33702
print(employees.shape)
# so it actually is the same as the amount of rows, thus correct

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64
(33702, 8)

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [20]:
# Your code here:
# already did this mannually but will write the code here

combined = employees[['Hourly Rate', 'Annual Salary']].isnull().sum().sum()
combined

# this probably could be more efficient (not twice the sum, but not sure 
# how to do it)

33702

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:
employees[['Name', 'Department']].groupby('Department').count().head()

                   Name
Department
ADMIN HEARNG         38
ANIMAL CONTRL        75
AVIATION           1856
BOARD OF ELECTION   111
BOARD OF ETHICS       8

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [96]:
# Your code here:

from scipy.stats import ttest_1samp

# H0: hourly wage = 30$/hr
# H1: hourly wage =|= 30$/hr

hourly = employees['Hourly Rate'].dropna()
hourly

stat, pval = ttest_1samp(hourly, 30)

print(pval)
print(stat)

# the p value is very small so H0 is rejected
# next time nan_policy='omit'

3.825475847673794e-202
31.211500329216044

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [48]:
# Your code here:

# employees[['Annual Salary', 'Department']].groupby('Department').mean()

police = employees.loc[employees.Department == 'POLICE']
police = police['Annual Salary']
police

# H0: salaries = $86000/year
# H1: salaries > $86000/year

stat, pval = ttest_1samp(police, 86000, nan_policy='omit')

print(pval/2)
print(stat)

# H0 is rejected, if you look at the stat, the mean is likely to be higher
# so therefore, H1 is not rejected

6.119566952108849e-76
18.517485619818608

Using the `crosstab` function, find the department that has the most hourly workers.

In [81]:
# Your code here:

employees['Hourly'] = employees['Salary or Hourly'].loc[employees['Salary or Hourly'] == 'Hourly']

employees

most_hourly_workers = pd.crosstab(employees.Hourly, employees.Department)
most_hourly_workers.max()

Department
ANIMAL CONTRL            12
AVIATION               1214
BUDGET & MGMT             2
BUSINESS AFFAIRS          7
CITY COUNCIL             74
CULTURAL AFFAIRS         10
DAIS                    745
DISABILITIES              1
FAMILY & SUPPORT        357
FINANCE                  45
HEALTH                    2
HOUSING & ECON DEV        3
LAW                      48
MAYOR'S OFFICE           17
OEMC                   1077
POLICE                   24
PROCUREMENT               2
PUBLIC LIBRARY          356
PUBLIC SAFETY ADMIN      48
STREETS & SAN          1846
TRANSPORTN              726
WATER MGMNT            1558
dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [89]:
# Your code here:
#H0: hourly wage = $35/hour
#H1: hourly wage < $35/hour

# the department with the most hourly workers is the department Streets & San

streets = employees.loc[employees.Department == 'STREETS & SAN']
streets_hourly = streets['Hourly Rate']

stat, pval = ttest_1samp(streets_hourly, 35, nan_policy='omit')
print(pval/2)
print(stat)

# H0 is rejected, the stat shows that the hourly wage is likely to be higher than 35, so 
# therefore H1 is also rejected

3.2902372218851916e-05
4.000138803968886

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [107]:
# Your code here:

hourly

# So for a 95% confidence interval, we are 95% sure that the mean of the population 
# is within the confidence interval

# mean hourly wage (of all hourly workers)

from scipy.stats import t
from scipy.stats import stats

t.interval(0.95, (len(hourly) -1), loc=hourly.mean(), scale=stats.sem(hourly))

(34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [114]:
# Your code here:

police = police.dropna()

t.interval(0.95, (len(police) -1), loc=police.mean(), scale=stats.sem(police))

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [139]:
# Your code here:

from statsmodels.stats.proportion import proportions_ztest

#H0: number hourly workers = 25%
#H1: number hourly workers  =|= 25%

count = 8425.5 
nobs = 33702
value = .05
stat, pval = proportions_ztest(count, nobs, value)
# print('{0:0.3f}'.format(pval))

print(pval)
print(stat)

# >>> from statsmodels.stats.proportion import proportions_ztest
# >>> count = np.array([5, 12])
# >>> nobs = np.array([83, 99])
# >>> stat, pval = proportions_ztest(count, nobs)
# >>> print('{0:0.3f}'.format(pval))

0.0
84.79245249431108

In [136]:
print(employees['Hourly'].value_counts())
print()
print(employees['Salary or Hourly'].value_counts().sum())

Hourly    8174
Name: Hourly, dtype: int64

33702

In [128]:
count

8425.5

In [ ]:
#tried but did not understand how to calculate