In [3]:
import numpy as np
import pandas as pd

In [16]:
# scores_jan = [3,4,3,4,2,4,5]
# scores_erin = [4,4,3,5,3,4,4]

# scores_df = pd.DataFrame(scores_jan, scores_erin, ).reset_index()
# colnames = ['scores_jan', 'scores_erin']

# scores_df.columns = colnames
# scores_df

   scores_jan  scores_erin
0           4            3
1           4            4
2           3            3
3           5            4
4           3            2
5           4            4
6           4            5

In [20]:
scores_jan = [3,4,3,4,2,4,5]
scores_erin = [4,4,3,5,3,4,4]

scores_df = pd.DataFrame([scores_jan, scores_erin]).transpose()

scores_df.columns = ['scores_jan', 'scores_erin']

scores_df

   scores_jan  scores_erin
0           3            4
1           4            4
2           3            3
3           4            5
4           2            3
5           4            4
6           5            4