In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy.stats import t
from scipy.stats import stats
from scipy.stats import ttest_rel

In [2]:
close = pd.read_csv('close_hypothesis.csv')
close.drop(columns=['Unnamed: 0'], inplace=True)
close.head()

                   Sector        Date       Close
0  Communication Services  2019-09-03  169.790003
1  Communication Services  2020-03-18  147.466923
2  Communication Services  2020-11-17  234.972695
3  Consumer Discretionary  2019-09-03  232.081802
4  Consumer Discretionary  2020-03-18  161.072459

In [67]:
# dataframe September
# close_sept = close.loc[(close.Date == '2019-09-03')]
# close_sept = close_sept.reset_index()
# close_sept = close_sept.drop(columns=['index'])
# close_sept

In [66]:
# dataframe Today
# close_today = close.loc[(close.Date == '2020-11-17')]
# close_today = close_today.reset_index()
# close_today = close_today.drop(columns=['index'])
# close_today

In [7]:
"""
Hypothesis COVID Crisis

H0: the Covid-19 has no impact on stockprices (stockprices 6 months before = stock prices today)
H1: the Covid-19 has impact on stockprices (stock prices 6 months before != stock prices today)
"""

ttest_rel(close_sept.Close, close_today.Close)

Ttest_relResult(statistic=-3.334932699715988, pvalue=0.007554766295281089)

In [68]:
merged = pd.read_csv('merged_stock_real_clean_1970.csv')
merged.drop(columns=['Unnamed: 0'], inplace=True)
merged

,ticker,open,close,adj_close,low,high,volume,date,exchange,name,sector,industry
0,AHH,11.50,11.58,8.493155,11.25,11.68,4633900,2013-05-08,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
1,AHH,11.66,11.55,8.471151,11.50,11.66,275800,2013-05-09,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
2,AHH,11.55,11.60,8.507822,11.50,11.60,277100,2013-05-10,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
3,AHH,11.63,11.65,8.544494,11.55,11.65,147400,2013-05-13,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
4,AHH,11.60,11.53,8.456484,11.50,11.60,184100,2013-05-14,NYSE,"ARMADA HOFFLER PROPERTIES, INC.",FINANCE,REAL ESTATE
...,...,...,...,...,...,...,...,...,...,...,...,...
20973884,NZF,14.60,14.59,14.590000,14.58,14.62,137500,2018-08-20,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973885,NZF,14.60,14.58,14.580000,14.57,14.61,151200,2018-08-21,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973886,NZF,14.58,14.59,14.590000,14.57,14.63,185400,2018-08-22,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973887,NZF,14.60,14.57,14.570000,14.57,14.64,135600,2018-08-23,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS
20973888,NZF,14.60,14.69,14.690000,14.59,14.69,180900,2018-08-24,NYSE,NUVEEN MUNICIPAL CREDIT INCOME FUND,OTHERS,OTHERS

In [70]:
pivot = merged.groupby(['sector', 'date'])['adj_close'].mean().reset_index()
pivot.

                  sector        date  adj_close
0       BASIC INDUSTRIES  1970-01-02   1.063425
1       BASIC INDUSTRIES  1970-01-05   1.069841
2       BASIC INDUSTRIES  1970-01-06   1.061485
3       BASIC INDUSTRIES  1970-01-07   1.046998
4       BASIC INDUSTRIES  1970-01-08   1.049458
...                  ...         ...        ...
154546    TRANSPORTATION  2018-08-20  38.769419
154547    TRANSPORTATION  2018-08-21  39.013512
154548    TRANSPORTATION  2018-08-22  38.841133
154549    TRANSPORTATION  2018-08-23  38.936009
154550    TRANSPORTATION  2018-08-24  39.110009

[154551 rows x 3 columns]

In [80]:
# close_oil = pivot.loc[(pivot.date == '1973-01-03') | (pivot.date == '1974-01-03')]
# close_oil = close_oil.reset_index()
# close_oil = close_oil[:-2]
# close_oil

# later will adjust the tech sector

In [81]:
# dataframe before
# close_before = close_oil.loc[(close_oil.date == '1973-01-03')]
# close_before = close_before.reset_index()
# close_before

In [82]:
# dataframe after
# close_after = close_oil.loc[(close_oil.date == '1974-01-03')]
# close_after = close_after.reset_index()
# close_after

In [79]:
"""
# 1. Oil Crisis 1973 - 1974
Hypothesis Oil Crisis

H0: the Oil Crisis had no impact on stockprices (stockprices before = stock prices after)
H1: the Oil Crisis had impact on stockprices (stock prices before != stock prices after)
"""

ttest_rel(close_before.adj_close, close_after.adj_close)

Ttest_relResult(statistic=1.0451635703346702, pvalue=0.3232054841336793)

In [120]:
# close_monday = pivot.loc[(pivot.date == '1987-03-02') | (pivot.date == '1988-03-01')]
# close_monday = close_monday.reset_index()
# close_monday

In [98]:
# dataframe before
# close_bm = close_monday.loc[(close_monday.date == '1987-03-02')]
# close_bm = close_bm.reset_index()
# close_bm

In [99]:
# close_am = close_monday.loc[(close_monday.date == '1988-03-01')]
# close_am = close_am.reset_index()
# close_am

In [91]:
"""
# 2. Black Monday 1987 19 October
Hypothesis Wall Street Crisis

H0: the Covid-19 has no impact on stockprices (stockprices 6 months before = stock prices today)
H1: the Covid-19 has impact on stockprices (stock prices 6 months before != stock prices today)
"""

ttest_rel(close_bm.adj_close, close_am.adj_close)

Ttest_relResult(statistic=0.9999999999999997, pvalue=0.3370490579535844)

In [118]:
# close_dot = pivot.loc[(pivot.date == '2000-01-03') | (pivot.date == '2000-12-01')]
# close_dot = close_dot.reset_index()
# close_dot

In [104]:
# dataframe before
# close_bdot = close_dot.loc[(close_dot.date == '2000-01-03')]
# close_bdot = close_bdot.reset_index()
# close_bdot

In [105]:
# dataframe after
# close_adot = close_dot.loc[(close_dot.date == '2000-12-01')]
# close_adot = close_adot.reset_index()
# close_adot

In [102]:
"""
# 3. Dot com bubble 1997
Hypothesis Dot com Crisis

H0: the Covid-19 has no impact on stockprices (stockprices 6 months before = stock prices today)
H1: the Covid-19 has impact on stockprices (stock prices 6 months before != stock prices today)
"""

ttest_rel(close_bdot.adj_close, close_adot.adj_close)

Ttest_relResult(statistic=1.2452442397125567, pvalue=0.23680989214736478)

In [114]:
# close_fin = pivot.loc[(pivot.date == '2008-03-03') | (pivot.date == '2009-03-02')]
# close_fin = close_fin.reset_index()
# close_fin = close_fin[:-2]
# will adjust transportation later

In [115]:
# dataframe before
# close_bfin = close_fin.loc[(close_fin.date == '2008-03-03')]
# close_bfin = close_bfin.reset_index()
# close_bfin

In [116]:
# dataframe after
# close_afin = close_fin.loc[(close_fin.date == '2009-03-02')]
# close_afin = close_afin.reset_index()
# close_afin

In [113]:
"""
# 4. Financial Crisis 2008 
Hypothesis Dot com Crisis

H0: the Covid-19 has no impact on stockprices (stockprices 6 months before = stock prices today)
H1: the Covid-19 has impact on stockprices (stock prices 6 months before != stock prices today)
"""

ttest_rel(close_bfin.adj_close, close_afin.adj_close)

Ttest_relResult(statistic=2.6692256059153516, pvalue=0.02182416987537949)