# StackAPI

#### Import the necessary libraries here:

In [60]:
# your code here

from stackapi import StackAPI
import pandas

# stackoverflow

In [55]:
# from datetime import date
# d=1457136000
# print (date.fromtimestamp(d))

#### Question 1: Find the questions and answers of last month.

In [110]:
# your code here

SITE = StackAPI('stackoverflow')


# questions = SITE.fetch('questions')

question = SITE.fetch('questions', fromdate='2020-09-01', todate='2020-09-30')                         
    
data = pd.DataFrame(question)

data.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,300,0,"{'tags': ['android', 'rest', 'sample', 'sonos'..."
1,0,True,5,300,300,0,"{'tags': ['r', 'mosaic-plot'], 'owner': {'repu..."
2,0,True,5,300,300,0,"{'tags': ['python', 'linux', 'pip', 'raspberry..."
3,0,True,5,300,300,0,"{'tags': ['node.js', 'typescript', 'nestjs'], ..."
4,0,True,5,300,300,0,"{'tags': ['python', 'machine-learning', 'compu..."

In [62]:
def flatten(data, col_list):
    for column in col_list:
        flattened = pd.DataFrame(dict(data[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + colname for colname in columns]
        data = pd.concat([data, flattened], axis=1)
        data = data.drop(column, axis=1)
    return data

In [150]:
questions_data = flatten(data, ['items'])

questions_data

questions_data['items_title']

pd.DataFrame(questions_data['items_title'])

                                           items_title
0    Where can I find the SONOS Cloud Queue server ...
1                                Mosaic Plot Help in R
2         How to run python program on raspberry pi OS
3    NestJS inject custom TypeOrm repository based ...
4    How to convert object detection model to binar...
5    Why do we must use nginx with gunicorn for fla...
6    Magento2/PHP - file_get_contents() returns dif...
7                            Integer division in Dhall
8       gcloud not working with Fedora33 and python3.9
9                Streamlit (graph output without data)
10   Real time Database of Firebase not working fro...
11   How to set the FK in the child entityto null a...
12   Django [&quot;“(&#39;1&#39;,)” value must be e...
13          A body tracking when adding a Azure Kinect
14   Spyder not showing every variable in variable ...
15                  Azure Kinect Green Screen building
16   How to open and close an excel workbook in a p...
17   How to include libraries in Visual Studio auto...
18   Laravel 8 and TailwindCSS Undefined variable: ...
19   NestJs: How to make TypeORMModule to retry DB ...
20       TypeError: can&#39;t pickle cv2.CLAHE objects
21   How to integrate Resilience4j metrics to Micro...
22                           Parse INI file in Node.js
23   react native ios build fails with error - &#39...
24      How to get median in mysql if group by clause?
25   Content Security Policy reject XSS attacks in ...
26   ngx-intl-tel-input angular library throwing error
27                  Multidimensional Analysis Using BO
28    how does editor know python file&#39;s encoding?
29      Prism&#39;s Region Manager keeps objects alive
..                                                 ...
470  Can&#39;t create new post | Wordpress API | Ba...
471  Why I am getting wrong dimensions on my iphone...
472  Python OpenGL not working properly when trying...
473  OpenGL error 1282 when trying scale a mesh in ...
474  SwiftUI NavigationView and NavigationLink chan...
475  RPC failed with status = &quot;Unavailable: So...
476                XLM-RoBERTa token - id relationship
477  How can I align values to same column on Ultra...
478              Vue Draggable clone and drag on event
479   Python - OpenCV - return lowest bottom rectangle
480  What&#39;s the best way to visualize link atta...
481          How to use HttpClient in asp.net webforms
482       Laravel Nova Many To Many relationship table
483  Bad Request Status Error Code (400): YouTube A...
484  How do I automerge dependabot updates (config ...
485  My aqueduct application is failing to bind to ...
486  why does Laravel 8.x / Jetstream email verific...
487  How would I create a keyboard shortcut that ru...
488  Twitter Filter Streaming API - Increase Rule L...
489  How to add multiple commands in the same pytho...
490          Plotly heatmap with different cell widths
491  How to integrate PWA with Next.js to allow for...
492        pandas loc does not adds value to dataframe
493  Mongodb get error message &quot;MongoError: Pa...
494  Mobile devices: get screen area size and posit...
495  ERROR: No matching distribution found for ipyt...
496                                  Access Token Curl
497  NestJs/swagger: Define ref schemas without DTO...
498  WordPress: Extend heading block in Gutenberg w...
499             BigDecimal Arithmatic in Jasper report

[500 rows x 1 columns]

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [103]:
# your code here

questions = SITE.fetch('questions', fromdate='2020-09-01', todate='2020-09-30',
    min=5, tagged='python', sort='votes')


data_2 = pd.DataFrame(questions)

data_2

questions_2 = flatten(data_2, ['items'])

questions_2

questions_2['items_title']


pd.DataFrame(questions_2['items_title']).head()

                                         items_title
0  Why doesn&#39;t Python give any error when quo...
1  Checking dict keys to ensure a required key al...
2   timeit and its default_timer completely disagree
3                         Merge related words in NLP
4          Error Using Drive Mount with Google Colab

#### Question 3: Find the answers with id 6784 and 6473.

In [109]:
# your code here

badges = SITE.fetch('badges', ids=[6784, 6473])

badges = pd.DataFrame(badges)

badges_flatten = flatten(badges, ['items'])

badges_flatten

,backoff,has_more,page,quota_max,quota_remaining,total,items_award_count,items_badge_id,items_badge_type,items_link,items_name,items_rank
0,0,False,1,300,300,0,1,6784,tag_based,https://stackoverflow.com/badges/6784/asterisk,asterisk,silver
1,0,False,1,300,300,0,1,6473,tag_based,https://stackoverflow.com/badges/6473/sql-serv...,sql-server-2012,gold

In [131]:
# answers = SITE.fetch('badges/{ids}', ids=[6784, 6473])

# answers = pd.DataFrame(answers)

# answers_flatten = flatten(answers, ['items'])

# answers_flatten


# answers = SITE.fetch('/answers/comments', ids=[6784, 6473])

,backoff,has_more,page,quota_max,quota_remaining,total,items_award_count,items_badge_id,items_badge_type,items_link,items_name,items_rank
0,0,False,1,300,300,0,1,6784,tag_based,https://stackoverflow.com/badges/6784/asterisk,asterisk,silver
1,0,False,1,300,300,0,1,6473,tag_based,https://stackoverflow.com/badges/6473/sql-serv...,sql-server-2012,gold

In [152]:
answers = SITE.fetch('answers/{ids}', ids=[6784, 6473])

answers = pd.DataFrame(answers)

answers

# answers_flatten = flatten(answers, ['items'])

# answers_flatten

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,300,0,"{'owner': {'reputation': 29133, 'user_id': 758..."