In [1]:
import pandas as pd
import numpy as np

In [6]:
density = pd.read_csv('population_density.csv')
density

    Country/Region                Province/State  density mostdensecity
0        Australia         From Diamond Princess  26604.0             -
1           Canada                Grand Princess  26604.0             -
2            China                     Hong Kong   6659.0             -
3            China                         Macau  21340.0             -
4      Cruise Ship              Diamond Princess  26604.0             -
..             ...                           ...      ...           ...
279             US                      Kentucky    910.0    Louisville
280             US                        Oregon   1874.0      Portland
281             US                  South Dakota    881.0   Sioux Falls
282             US  United States Virgin Islands   1878.9    Frenchtown
283             US                Virgin Islands   1878.9    Frenchtown

[284 rows x 4 columns]

In [12]:
density = density.loc[density['Country/Region'] == 'US']
density.sort_values(by=['density'], ascending=False)

    Country/Region                Province/State  density      mostdensecity
249             US                      New York  27799.0          Manhattan
18              US              Diamond Princess  26604.0                  -
19              US                Grand Princess  26604.0                  -
240             US                    New Jersey  23394.0         Guttenberg
236             US                        Hawaii  15989.1         Mōʻiliʻili
230             US                   Puerto Rico  11907.4     Santa Teresita
255             US                    California   7286.0      San Francisco
232             US                      Delaware   6269.3    Cleland Heights
263             US                 Massachusetts   5472.0             Boston
237             US                       Florida   4969.0              Miami
259             US                      Illinois   4612.0            Chicago
250             US                  Pennsylvania   4547.0       Philadelphia
267             US                         Maine   4497.9        Munjoy Hill
233             US          District of Columbia   4382.0         Washington
241             US                    New Mexico   4044.0        Morningside
251             US                  Rhode Island   3783.0         Providence
235             US                 West Virginia   3681.3          West Side
266             US                   Connecticut   3523.0         Bridgeport
244             US                        Alaska   3458.4      Homesite Park
231             US                    Washington   3336.0            Seattle
273             US                     Minnesota   3019.0        Minneapolis
256             US                       Alabama   2973.9             Normal
268             US                      Maryland   2917.0          Baltimore
265             US                         Idaho   2585.1             Ustick
239             US                 New Hampshire   2531.5    Cluffs Crossing
277             US                   Mississippi   2462.0         University
246             US                  North Dakota   2446.6            Calspur
258             US                       Vermont   2428.3  Northfield Center
278             US                South Carolina   2427.6     Tranquil Acres
234             US                     Wisconsin   2389.0          Milwaukee
275             US                        Kansas   2386.0     Westwood Hills
247             US                      Nebraska   2256.4          Beechwood
272             US                      Missouri   1929.0          St. Louis
270             US                          Ohio   1915.0          Cleveland
283             US                Virgin Islands   1878.9         Frenchtown
282             US  United States Virgin Islands   1878.9         Frenchtown
280             US                        Oregon   1874.0           Portland
274             US                      Michigan   1873.0            Detroit
254             US                      Colorado   1774.0             Denver
252             US                        Nevada   1747.0          Las Vegas
242             US                         Texas   1524.0             Dallas
253             US                      Virginia   1463.0           Richmond
260             US                       Georgia   1384.0            Atlanta
245             US                North Carolina   1235.0            Raleigh
264             US                       Arizona   1212.0            Phoenix
262             US                          Iowa   1143.0          Iowa City
276             US                       Montana    962.0           Billings
261             US                       Indiana    921.0       Indianapolis
279             US                      Kentucky    910.0         Louisville
243             US                     Louisiana    896.0        New Orleans
281             US                  South Dakota    881.0        Sioux Falls
238             US                       Wyoming    862.0           Cheyenne
248             US                     Tennessee    793.0            Memphis
269             US                      Oklahoma    785.0              Tulsa
271             US                          Utah    696.0     Salt Lake City
257             US                      Arkansas    643.0        Little Rock
20              US                          Guam    320.0                  -
21              US                            US     36.0                  -